# ---- Python / Flask ----
__pycache__/
*.pyc
*.py[cod]
.venv/
venv/

# ---- Env / Secrets ----
.env
.env.*

# ---- IDE ----
.vscode/
.idea/
*.iml

# ---- OS ----
.DS_Store
Thumbs.db

# ---- Gradle / Android ----
.gradle/
build/
**/build/
local.properties
/captures
.externalNativeBuild/
.cxx/
